<section class="story-split">
    <div class="grid-cols-2">
        <div class="story-text-block bg-secondary">
            <span class="eyebrow">{{ section.settings.subheading }}</span>
            <h2 class="font-serif">{{ section.settings.heading | newline_to_br }}</h2>
            <div class="container-editorial">
                <p>{{ section.settings.text }}</p>
            </div>
            {% if section.settings.button_label != blank %}
                <a href="{{ section.settings.button_link }}" class="btn-solid">{{ section.settings.button_label }}</a>
            {% endif %}
        </div>
        <div class="story-img-block">
            {% if section.settings.image != blank %}
                <img src="{{ section.settings.image | image_url: width: 800 }}" alt="{{ section.settings.heading | escape }}">
            {% else %}
                <img src="{{ 'sara.png' | asset_url }}" alt="Founder of Scents by Sara">
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Story Split",
  "settings": [
    {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "OUR STORY"
    },
    {
        "type": "textarea",
        "id": "heading",
        "label": "Heading",
        "default": "GROUNDED IN RITUAL.\nEMBODIED IN CONFIDENCE."
    },
    {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Born in London and raised in Dubai, Scents by Sara is a female-founded premium fragrance brand..."
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "READ MORE"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Story Split"
    }
  ]
}
{% endschema %}
